{% extends 'base.html' %}

{% block content %}
<div class="pure-g">
	<div class="pure-u-1">
		<form action="" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Login">
		</form>
	</div>
	<div class="pure-u-1">
		<h2>Features</h2>
	</div>
	<div class="pure-u-1-2">
		<ul>
			<li>Lorem ipsum dolor sit amet</li>
			<li>Lorem ipsum dolor sit amet</li>
			<li>Lorem ipsum dolor sit amet</li>
			<li>Lorem ipsum dolor sit amet</li>
			<li>Lorem ipsum dolor sit amet</li>
		</ul>
	</div>
	<div class="pure-u-1-2">
		<ul>
			<li>Lorem ipsum dolor sit amet</li>
			<li>Lorem ipsum dolor sit amet</li>
			<li>Lorem ipsum dolor sit amet</li>
			<li>Lorem ipsum dolor sit amet</li>
			<li>Lorem ipsum dolor sit amet</li>
		</ul>
	</div>
</div>
{% endblock %}