<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Track {{title}}</title>
</head>
<body>
	<ul>
		{% for track in tracks %}
		<li>
			<a href="{{ track.get_absolute_url }}">{{ track.name }}</a>
			{% if track.id == selected_track.id %}
			**************
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	<section>
		<p>Name: {{ track.name }}</p>
		<p>Order: {{ track.order }}</p>
		<p>File: {{ track.track_file }}</p>
		<p>Album: {{ track.album }} </p>
		<p>Artist: {{ track.artist }}</p>
		<p>Biography: {{ track.artist.biography }}</p>
	</section>
</body>
</html>